<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add student</title>
</head>
<body>

<form action="#" th:action="@{/students/new}" th:object="${student}" method="post">

    <input type="text" th:field="*{kodeMelli}" placeholder="kodeMelli">
    <td th:if="${#fields.hasErrors('kodeMelli')}" th:errors="*{kodeMelli}">kode Melli Error</td>
    <br>
    <input type="text" th:field="*{firstName}" placeholder="first name">
    <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">first name Error</td>
    <br>
    <input type="text" th:field="*{lastName}" placeholder="last name">
    <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">last name Error</td>
    <br>
    <input type="text" th:field="*{gender}" placeholder="gender">
    <td th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">gender Error</td>
    <br>
    <input type="text" th:field="*{age}" placeholder="age">
    <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age Error</td>
    <br>
    <input type="email" th:field="*{email}" placeholder="email">
    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</td>
    <br>
    <input type="text" th:field="*{phone}" placeholder="phone">
    <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</td>
    <br>
    <button type="submit">submit</button>

</form>
</body>
</html>