<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>advice</title>
</head>
<body>

<table>
    <thead>
    <th>kode melli</th>
    <th>first name</th>
    <th>last name</th>
    <th>gender</th>
    <th>age</th>
    </thead>
    <tbody>
    <td th:text="${advice.kodeMelli}"></td>
    <td th:text="${advice.firstName}"></td>
    <td th:text="${advice.lastName}"></td>
    <td th:text="${advice.gender}"></td>
    <td th:text="${advice.age}"></td>
    </tbody>
</table>
</body>
</html>