<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Advices</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container my-5">
    <h1 class="mb-4">All Advices</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Kode Melli</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="advice:${advices}">
            <td th:text="${advice.kodeMelli}"></td>
            <td th:text="${advice.firstName}"></td>
            <td th:text="${advice.lastName}"></td>
            <td th:text="${advice.gender}"></td>
            <td th:text="${advice.age}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
