<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>find</title>
</head>
<body>

<form action="#" th:action="@{/students/find}" th:object="${studentKodeMelli}" method="post">

    <input type="text" th:field="*{studentKodeMelli}" placeholder="student kode melli">
    <td th:if="${#fields.hasErrors('studentKodeMelli')}" th:errors="*{studentKodeMelli}">kode Melli Error</td>
    <button type="submit" >submit</button>
</form>
</body>
</html>